
<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>

<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12" >
	<!-- <p><strong>List <%= @list.name %></strong></p> -->
	<div class="filter left-margin">Filter by 
	<%= link_to "priority", new_list_link_path(@list) %> 
	<%= link_to "least recent", new_list_link_path(@list) %> 
	<%= link_to "most recent", new_list_link_path(@list) %> 
	</div>
	<div class="delete left-margin">
	<%= link_to "Delete this list", @list, :method => :delete, :confirm => "Are you sure ?"%>
	</div>

	</br>

	<% @links.each do |link| %>

		<div class="caption left-margin">
		</br>
		<div style="font-family: 'Ubuntu Mono', monospace; color: grey;"><%= link.name %></div>
		<a href="<%=link.url%>" class="go" target= "blank"> visit the link</a>
		</div>
		<iframe class = "carousel rounded" src=<%=link.url%> href="<%= list_link_path(link) %>"></iframe>
		
		
	<% end %>
	


	<div class="row">
	<a href=<%=new_list_link_path(@list) %>><%= image_tag("plus.png", size: "100x100", alt: "Add a link", href: "#") %></a>
	</div>

</div>



</div>
<!-- closing the row from the partial -->




