
<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>
			<div>
			</br>
			Sort by |
			
			
			<%= link_to "priority", filter_path(@list, :high_priority)%> | 
			<%= link_to "least recent", filter_path(@list, :recent)%> |  
			<%= link_to "most recent", filter_path(@list, :old) %> 

			<span class="delete_link"  > 
			<%= link_to "Delete List!", @list, :method => :delete%>
			</span>

			</div>

			

		    	



			</br>
			<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>

    <a class="carousel-item" href="#two!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
    <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Common_Iora.jpg"></a>
  </div>

			


			

<div>
<% @links.each_with_index do |link, index| %> 
<!-- to not have the fake link showing up -->
<!-- no more erb if !(link.name == "Create a new link") -->
<div class="caption top-margin-show">
</br>
	<div class="font"><%= link.name %></div>
	<div class="font grey"><%= link_to "View or Edit", list_link_path(@list,link) %> // <%= link.hr_priority %> priority

	<a style="background-color: <%= link.list.color %>; color: white;" href="<%=link.url%>" class="go" target= "blank"> visit the link</a>
	</div>
</div>
<iframe style="border-color: <%= link.list.color %>;" class = "preview rounded" src=<%=link.url%> href="<%= list_link_path(link) %>"></iframe>
<div class="link_date font"><%=link.created_at.strftime("%m/%d/%Y")%></div>
<% end %>
<% end %>
</div>



			<a class="plus" href=<%=new_list_link_path(@list) %>><i class="large material-icons">add_circle_outline</i></a>
			</div>

	


	<!-- from the welcome partial -->
	</div>

<!-- from the welcome partial -->
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, numVisible: 3);
  });
</script>



