
<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
</div>
<div class="col-lg-8 col-md-8 col-sm-5 col-xs-11" >
	<div class="email-logout">
    <%=current_user.email%> |
    <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
    </div>
	<div class="filter left-margin">
	</br>
	Filter by |
	<%= link_to "priority", new_list_link_path(@list) %> |  
	<%= link_to "least recent", new_list_link_path(@list) %> |  
	<%= link_to "most recent", new_list_link_path(@list) %> 
	
	<span class="delete_link">
	<%= link_to "Delete List!", @list, :method => :delete, :confirm => "Are you sure ?"%>
	</span>



	</div>

	</br>

	<% @links.each do |link| %>

		<div class="caption left-margin">
		</br>
		<div style="font-family: 'Ubuntu Mono', monospace; color: grey;"><%= link.name %>
		<a href="<%=link.url%>" class="go" target= "blank"> visit the link</a>
		</div>
		</div>
		<iframe class = "carousel rounded" src=<%=link.url%> href="<%= list_link_path(link) %>"></iframe>
		
		
	<% end %>
	


	<div class="row">
	<a href=<%=new_list_link_path(@list) %>><%= image_tag("plus.png", size: "100x100", alt: "Add a link", href: "#") %></a>
	</div>

</div>



</div>
<!-- closing the row from the partial -->




