
<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>

	<div class="left-margin">
	</br>
	Filter by |
	<%= link_to "priority", high_priority_lists_path %> | 
	<%= link_to "least recent", recent_lists_path %> |  
	<%= link_to "most recent", old_lists_path %> 
	
	<span class="delete_link" >
	<%= link_to "Delete List!", @list, :method => :delete%>
	</span>

	</div>
	</br>

	<% @links.each_with_index do |link, index| %> 
	
		<!-- to not have the fake link showing up -->
		<% if !(link.name == "Create a new link") %>
		<div class="caption left-margin top-margin-show">
		</br>
		<div style="font-family: 'Ubuntu Mono', monospace; color: grey;"><%= link_to link.name, list_link_path(@list,link) %> // <%= link.hr_priority %> priority

		<a style="background-color: <%= link.list.color %>;" href="<%=link.url%>" class="go" target= "blank"> visit the link</a>
		</div>
		</div>
		<iframe style="border-color: <%= link.list.color %>;" class = "preview rounded" src=<%=link.url%> href="<%= list_link_path(link) %>"></iframe>
		<div class="link_date"><%=link.created_at.strftime("%m/%d/%Y")%></div>
		<% end %>
		
	<% end %>
	


	<div>
	<a class="left-margin plus" href=<%=new_list_link_path(@list) %>><%= image_tag("plus.png", size: "150x150", alt: "Add a link") %></a>
	</div>





</div>





