<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
<p class="head text-right">
<%=current_user.email%>
<%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
</p>
</div>




<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >

<% current_user.lists.uniq.each do |list| %>

<!-- try btn-block when grid set -->
<a href=<%= list_path(list) %> class="btn btn-light btn-lg", role="button"> <%= list.name %> </a>
</br>
<% end %>
</br>
</br>
<%= form_for @new_list, :url => url_for(:controller => 'lists', :action => 'create'), method: :post do |f| %>
<%= f.text_field :name, placeholder: "new list name" %>
<%= f.hidden_field :user_id, value:  current_user.id%>
<%= f.submit "Create new list" %>
<% end %>
</div>

<!-- the row is still opened -->