


<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >

		<div class="pos">
		 <h1>MyLinks</h1>
			<div class="list-group">
			<% current_user.lists.uniq.each do |list| %>


    		<li style="background-color: <%= list.color %>; min-width: 300px;" class="list-group-item d-flex justify-content-between align-items-center">
   			 <a href=<%= list_path(list) %> role="button" style="color: black;"><%= list.name %></a>

    		<span style="background-color: white; color: grey;" class="badge badge-primary badge-pill link-count"><%= (list.links.size)-1 %></span>
    	
  			</li>
			<% end %>
		

			<div class="list-group-item ">
			<%= form_for @new_list, :url => url_for(:controller => 'lists', :action => 'create'), method: :post do |f| %>
			<%= f.hidden_field :user_id, value:  current_user.id%>

			
			<div>
			<%= f.text_field :name, placeholder: "new list name", class: " " %>
			

			<div style="display: inline;">
			
			<%= f.submit "new", class: "button-new-list" %>
		
			</div>
			
	<% end %>

	</div>
		
			
			</div>


			</div>
		</div>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
	</div>

	<div class="col-lg-7 col-md-8 col-sm-5 col-xs-11" >

		<div class="row email-logout">
			<div class="top-margin-show">
    		<%=current_user.email%> |
    		<%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
			</div>
		</div>

		<div class="row">
		</br>
		</br>
		</br>
		</br>
		</div>










