			<div>
			</br>
			Sort by |
			
			
			<%= link_to "priority", filter_path(@list, :high_priority)%> | 
			<%= link_to "least recent", filter_path(@list, :recent)%> |  
			<%= link_to "most recent", filter_path(@list, :old) %> 

			<span class="delete_link"  > 
			<%= link_to "Delete List!", @list, :method => :delete%>
			</span>

			</div>


			<ul class="side-nav grey lighten-2" id="mobile-demo">
			<h5 class="logo">YourLists</h5>
			<!-- when js-list is clicked, listen to display the right links through ajax -->
			
			<% current_user.lists.uniq.each do |list| %>
			<li><a class="js-list waves-effect darkGray" data-id="<%= list.id %>" href=<%= list_path(list) %> role="button" class="text-list"><%= list.name %></a><li>
			<% end %>
			<li><div class="divider"></div></li>
			<li><a href="#!" class="waves-effect"><i class="material-icons">add</i>new list</a></li>
			<li><div class="divider"></div></li>
		</ul>