<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
</div>
<div class="col-lg-7 col-md-8 col-sm-5 col-xs-11" >

<div class="left-margin top-margin-new">

<div class="new"> Save a new link </div>
<%= image_tag "line.png", option={class: "new"} %>
</br>
</br>
<%= form_for [@list, @link] do |f|%>
<%= f.text_field :name, placeholder: "name" %>
</br>
</br>
<%= f.text_field :url, placeholder: "url" %>

</br>
</br>
<div class="new">
	priority:




		 <label>low</label>
		<%= f.radio_button("priority", "low") %>

		 <label>medium</label>
		<%= f.radio_button("priority", "medium") %>

		 <label>high</label>
		<%= f.radio_button("priority", "high") %>



		<!-- can't use bootstrap and rails helper? -->

	<!-- 	</div> -->

		<%= f.hidden_field :user_id, value:  current_user.id%>
		<%= f.hidden_field :list_id, value: @list.id %>
		</br>
		</br>
		</br>
		<%= f.submit "Save" %>
		<% end %>
	</div>
</div>
</div>
<!-- closing the div tag of the partial -->
</div>