
<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>
</br>

	<div class="caption">
	<%= render partial: 'form', locals: { link: @link, list: @list} %>
	</div>

	<span class="delete_link">
	<%= link_to "Delete Link!", list_link_path, :method => :delete%>
	</span>

	</br>
	</br>
	</br>
	<a style="background-color: <%= @link.list.color %>;" href="<%=@link.url%>" class="go" target= "blank"> visit the link</a>
	

	<iframe style="border-color: <%= @link.list.color %>;" class = "preview rounded size-preview" src=<%=@link.url%> href="<%= list_link_path(@link) %>"></iframe>
	<div class="link_date font"><%=@link.created_at.strftime("%m/%d/%Y")%></div>


<!-- close the welcome partial -->
</div>
</div>