
<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
</div>
<div class="col-lg-7 col-md-8 col-sm-5 col-xs-11" >

<div class="email-logout top-margin-show">
    <%=current_user.email%> |
    <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
    </div>
	<div class="filter left-margin">
	</br>


<div class="caption left-margin top-margin-show">
		</br>
		<div style="font-family: 'Ubuntu Mono', monospace; color: grey;"><%= @link.name %>
		


		<a style="background-color: <%= @link.list.color %>;" href="<%=@link.url%>" class="go" target= "blank"> visit the link</a>
		</div>
		</div>
		<iframe style="border-color: <%= @link.list.color %>;" class = "carousel rounded" src=<%=@link.url%> href="<%= list_link_path(@link) %>"></iframe>
		<div class="link_date"><%=@link.created_at.strftime("%m/%d/%Y")%></div>

<div class="big_preview">
big preview web page link
</div>

<%= @link.name %>
<%= button_to "Delete", list_link_path, :method => :delete %>
</div>
</div>
</div>