<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mylinks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  

    <%= javascript_include_tag 'application' %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import jQuery before materialize.js-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Matrialize CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Materialize Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Jquery -->
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!--  for bootstrap  -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->
    <!-- materialize for sidebar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
    
  </head>

  <body>

 
    <% if flash[:alert] %>
  	<p class="alert-warning"><%= flash[:alert] %></p>
    <% end %>

    

    	<%= yield %>

    





    <script type="text/javascript" charset="utf-8">

$(function() {
    //rendering the list of lists on the left side


    console.log('js is loading')
   
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //reformating priority to be human readable
    function hr_priority(data_priority){
        if (data_priority===1){
            return "High Priority"
        }
         else if(data_priority===2){
            return "Medium Priority"
        }
        else {
            return "Low Priority"
        }
    }
      

    //render the links in a list

  $(".js-list").on("click", function(e) {
         e.preventDefault();
    let id = $(this).data("id")   
    $.get("/lists/" + id + ".json", function(data) {
        

        // data = {id: 1, name: "Rails documentation", color: "#CCFF38", user_id: 1, links: Array(3)}
        for (var i=0; i<data["links"].length; i++) {
            let data_priority = data["links"][i]["priority"] 
            let data_priority_result = hr_priority(data_priority)
            let d = new Date(data["links"][i]["created_at"]);
            let hrDate = (d.getMonth() + 1) + "-" + d.getDate() + "-" + d.getFullYear()
            $(".link").append(`
                <div class="caption top-margin-show"> </br>
                    <div class="font">` + data["links"][i]["name"] + `</div>
                    <div class="font"><a href=#>Read or Edit</a>// ` + data_priority_result +` 
                    <a href= "` + data["links"][i]["url"] + `" style="background-color:` + data["color"] + `; color: white;" class="go" target= "blank"> visit the link</a>
                    </div>
                </div>
                <iframe src="` + data["links"][i]["url"]  + `" style="border-color: ` + data["color"] +`;" class = "preview rounded iframe-placeholder" href=#>` + data["links"][i]["url"] + `</iframe>
                <div class="link_date font>"></div>
                <div class="link_date font>">` + hrDate + `</div>
                `)        
        };
        $(".link").append(`<a class="plus" href=#><i class="large material-icons">add_circle_outline</i></a>
                </div>`)

    });
    
  });


  // sidenav
            $(".button-collapse").sideNav();
            
            $(window).scroll(function() {
                if ($(this).scrollTop() > 1)  {          
                   $('.fixTopNav').addClass('shadow');   
                   $('.fixTopNav').removeClass('noShadow');
                } else {
                  $('.fixTopNav').removeClass('shadow');
                  $('.fixTopNav').addClass('noShadow');   
                }
            });
            



});
</script>



  </body>
</html>
